.viz-portfolio-delinquent-status {
  font-family: helvetica, arial, sans-serif; 
  margin: 0 auto;
  font-size: 10px;
  width: 450px;
  height: 300px
}


  path { fill: #83B0EA;}  
.domain { 
    fill: none; 
    stroke: #000; 
    stroke-width: 1px; 
  } 



