/* This css formats the legend for the State D3 Map */

/* legend font style*/
body{
	font: 11px sans-serif;
	background-color: #ffffff;
}
/*legend position style*/
.legend {
	position:relative;
	left:0px;
	top:-100px;
}

.axis text{
	font: 10px sans-serif;
}

.axis line, .axis path{
	fill: none;
	stroke: #000
	shape-rendering: crispEdges;
}

div.tooltip {   
 	position: absolute;           
	text-align: center;           
	width: 60px;                  
	height: 28px;                 
	padding: 2px;             
	font: 12px sans-serif;        
	background: white;   
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none;         
}

.block {
  width:18%;
  height: 15px;
  display:inline-block;
}
path:hover {
	fill-opacity: .7;
}