	.axis path,
	.axis line {
		fill: none;
		stroke: black;
		shape-rendering: crispEdges;
	}

	.axis text {
		font-family: sans-serif;
		font-size: 11px;
	}
#heatmap {
		position: relative;
	}

#tooltip {	
	position: relative;			
	text-align: center;			
	width: 60px;					
	height: 28px;					
	padding: 2px;				
	font: 12px sans-serif;		
	background: green;	
	border: 0px;		
	border-radius: 8px;			
	pointer-events: none;			
}
